.CompanyLogoSection{
    height: 215px;
    padding: 36px 39px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.CompanyLogoSection h5{
  color: #999999 ;
}
.Logos{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    overflow: hidden; 
    white-space: nowrap;
    animation: moveIcons 20s linear infinite;
}
@keyframes moveIcons {
    0% {
        transform: translateX(0); /* Start position */
    }
    100% {
        transform: translateX(-100%); /* End position, move icons fully off-screen */
    }
}  